/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
}
body {
  line-height: calc(2px + 2ex + 2px);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
a:not([class]) {
  -webkit-text-decoration-skip-ink: all;
          text-decoration-skip-ink: all;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* Using below when you use framework */
/* #root, #__next {
  isolation: isolate;
} */
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.page {
  --clock-clr: PaleVioletRed;
  --sky-clr: darkblue;
  --ground-clr: darkgreen;
  --clock-border-clr: #aaa;
  position: relative;
  overflow: hidden;
}
.sky {
  height: 60vh;
  background-color: var(--sky-clr);
}
.ground {
  height: 40vh;
  background-color: var(--ground-clr);
  position: relative;
  z-index: 2;
  border-top: 5px solid black;
}
.outer-circle {
  width: min(90%, 40rem);
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sun, .moon {
  width: 15%;
  position: relative;
  cursor: pointer;
}
.author-info {
  background-color: var(--clock-clr);
  width: 200%;
  padding: 0.5rem;
  border-radius: 5px;
  position: absolute;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 300ms ease-out;
}
.author-info::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
}
#icon-author {
  position: absolute;
  visibility: hidden;
}
#icon-author:checked + .author-info {
  opacity: 1;
}
.author-info::before {
  border: 10px solid;
  border-color: transparent var(--clock-clr) transparent transparent;
  top: 50%;
  left: -10px;
}
.moon > .author-info {
  top: 50%;
  left: 120%;
}
.sun > .author-info {
  top: 50%;
  left: 120%;
}
.sun {
  transform: translateY(50%);
}
.moon {
  transform: translateY(-50%);
}
.clock {
  z-index: 3;
  width: min(60%, 22.5rem);
  aspect-ratio: 1;
  border-radius: 50%;
  border: clamp(0.5rem, 2.2vw, 0.75rem) solid var(--clock-border-clr);
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
  position: absolute;
  overflow: hidden;
  background-color: var(--clock-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg) translate(-50%, 50%);
  inset: 50%;
}
.clock::before, .clock::after, .for-roman::before, .for-roman::after {
  position: absolute;
  transform: translate(-50%, -50%) rotate(-90deg);
  font-size: clamp(1.25rem, 5.3vw, 1.75rem);
}
.clock::before, .clock::after {
  top: 50%;
}
.clock::before {
  content: '\216B';
  left: 7%;
}
.clock::after {
  content: '\2165';
  right: -1%;
}
.for-roman::before, .for-roman::after {
  left: 50%;
}
.for-roman::before {
  content: '\2162';
  top: 7%;
}
.for-roman::after {
  content: '\2168';
  bottom: 1%;
}
.hand {
  height: .5rem;
  border-radius: .5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  transform-origin: 100%;
}
.middle {
  width: 5%;
  aspect-ratio: 1;
  background-color: black;
  border-radius: 50%;
  border: 2px solid var(--clock-clr);
  z-index: 4;
}
.hand__hour {
  background-color: hsl(0, 0%, 0%);
  width: 35%;
  z-index: 1;
}
.hand__minute {
  background-color: hsl(0, 0%, 15%);
  width: 42.5%;
  z-index: 2;
}
.hand__second {
  width: 55%;
  height: 4px;
  z-index: 3;
  transform-origin: 80%;
  transform: translate(-80%, -50%);
  background-color: red;
  transition: rotate 1s cubic-bezier(.38,.36,.67,1.59);
}