/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
}
body {
  line-height: calc(2px + 2ex + 2px);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
a:not([class]) {
  -webkit-text-decoration-skip-ink: all;
          text-decoration-skip-ink: all;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* Using below when you use framework */
/* #root, #__next {
  isolation: isolate;
} */
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --bg-color: pink;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock {
  width: min(80%, 25rem);
  aspect-ratio: 1;
  border-radius: 50%;
  border: clamp(1rem, 4.3vw, 1.5rem) solid white;
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}
.hand {
  height: .5rem;
  border-radius: 100% .5rem .5rem 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  transform-origin: 100%;
  background-color: black;
}
.middle {
  width: 5%;
  aspect-ratio: 1;
  background-color: black;
  border-radius: 50%;
  z-index: 10;
}
.hand__hour {
  width: 35%;
  z-index: 3;
}
.hand__minute {
  width: 42.5%;
  z-index: 2;
}
.hand__second {
  width: calc(50% - 1rem);
  height: 1px;
  z-index: 1;
  transition: rotate 1s cubic-bezier(.38,.36,.67,1.59);
}